# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/
env/

# Environment Variables
.env

# IDE
.idea/
.vscode/

# Streamlit
.streamlit/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Build Files
build/
dist/
*.egg-info/

# FAISS Vector Store
faiss_store/

# Cache
.cache/